In [266]:
import pandas as pd
import numpy as np
import requests
import matplotlib as mpl
import matplotlib.pyplot as plt
import dtale as dt
import re
import glob
import json
from bs4 import BeautifulSoup

---

In [32]:
hdi = pd.read_csv('./Human development index (HDI).csv', skiprows=1)

In [33]:
hdi

,HDI Rank (2018),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
1,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,36,Andorra,..,..,..,..,..,..,..,..,...,0.830,0.828,0.827,0.849,0.846,0.853,0.850,0.854,0.852,0.857
4,149,Angola,..,..,..,..,..,..,..,..,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,,Sub-Saharan Africa,0.402,0.404,0.404,0.406,0.407,0.411,0.415,0.418,...,0.494,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541
208,,Least Developed Countries,0.350,0.353,0.354,0.358,0.358,0.366,0.374,0.381,...,0.477,0.485,0.493,0.499,0.504,0.510,0.516,0.520,0.525,0.528
209,,Small Island Developing States,0.595,0.598,0.603,0.608,0.612,0.618,0.624,0.629,...,0.694,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723
210,,Organization for Economic Co-operation and Dev...,0.785,0.790,0.788,0.800,0.807,0.812,0.817,0.817,...,0.868,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895
211,,World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,...,0.691,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731

In [34]:
hdi.tail(30)

,HDI Rank (2018),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
182,108,Uzbekistan,..,..,..,..,..,..,..,..,...,0.658,0.665,0.672,0.681,0.688,0.693,0.696,0.701,0.707,0.710
183,141,Vanuatu,..,..,..,..,..,..,..,..,...,0.584,0.585,0.585,0.584,0.588,0.589,0.592,0.592,0.595,0.597
184,96,Venezuela (Bolivarian Republic of),0.638,0.648,0.654,0.656,0.657,0.660,0.662,0.666,...,0.752,0.753,0.764,0.767,0.772,0.770,0.763,0.752,0.735,0.726
185,118,Viet Nam,0.475,0.484,0.496,0.506,0.517,0.529,0.540,0.539,...,0.650,0.653,0.663,0.668,0.673,0.675,0.680,0.685,0.690,0.693
186,177,Yemen,0.392,0.396,0.395,0.398,0.398,0.393,0.408,0.418,...,0.503,0.499,0.511,0.501,0.506,0.504,0.493,0.477,0.463,0.463
187,143,Zambia,0.424,0.421,0.420,0.422,0.418,0.419,0.419,0.420,...,0.521,0.531,0.541,0.552,0.559,0.565,0.570,0.580,0.589,0.591
188,150,Zimbabwe,0.498,0.500,0.485,0.480,0.478,0.472,0.471,0.466,...,0.448,0.472,0.490,0.516,0.527,0.537,0.544,0.549,0.553,0.563
189,..,Monaco,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
190,..,Nauru,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
191,..,Korea (Democratic People's Rep. of),..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
192,..,San Marino,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
193,..,Somalia,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
194,..,Tuvalu,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
195,NaN,Human Development,NaN,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
196,,Very high human development,0.779,0.782,0.780,0.790,0.795,0.799,0.804,0.804,...,0.861,0.866,0.871,0.874,0.878,0.882,0.886,0.888,0.890,0.892
197,,High human development,0.568,0.573,0.578,0.584,0.588,0.596,0.604,0.610,...,0.698,0.706,0.713,0.720,0.727,0.733,0.738,0.743,0.746,0.750
198,,Medium human development,0.437,0.439,0.445,0.451,0.457,0.464,0.471,0.476,...,0.567,0.575,0.584,0.593,0.599,0.608,0.616,0.625,0.630,0.634
199,,Low human development,0.352,0.353,0.355,0.356,0.356,0.361,0.368,0.373,...,0.469,0.473,0.479,0.484,0.490,0.496,0.499,0.501,0.505,0.507
200,,Developing Countries,0.516,0.520,0.525,0.530,0.534,0.541,0.547,0.553,...,0.635,0.642,0.650,0.657,0.663,0.669,0.674,0.680,0.683,0.686
201,NaN,Regions,NaN,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
202,,Arab States,0.556,0.559,0.565,0.571,0.576,0.581,0.587,0.594,...,0.671,0.676,0.681,0.687,0.688,0.691,0.695,0.699,0.701,0.703
203,,East Asia and the Pacific,0.519,0.525,0.534,0.542,0.549,0.559,0.568,0.576,...,0.681,0.691,0.700,0.707,0.714,0.721,0.727,0.733,0.737,0.741
204,,Europe and Central Asia,0.652,0.650,0.646,0.643,0.638,0.642,0.646,0.651,...,0.726,0.735,0.744,0.750,0.759,0.766,0.770,0.772,0.776,0.779
205,,Latin America and the Caribbean,0.628,0.634,0.639,0.644,0.650,0.656,0.662,0.669,...,0.727,0.731,0.737,0.740,0.748,0.752,0.754,0.756,0.758,0.759
206,,South Asia,0.441,0.447,0.454,0.460,0.466,0.473,0.480,0.486,...,0.575,0.585,0.593,0.601,0.607,0.617,0.624,0.634,0.639,0.642
207,,Sub-Saharan Africa,0.402,0.404,0.404,0.406,0.407,0.411,0.415,0.418,...,0.494,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541
208,,Least Developed Countries,0.350,0.353,0.354,0.358,0.358,0.366,0.374,0.381,...,0.477,0.485,0.493,0.499,0.504,0.510,0.516,0.520,0.525,0.528
209,,Small Island Developing States,0.595,0.598,0.603,0.608,0.612,0.618,0.624,0.629,...,0.694,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723
210,,Organization for Economic Co-operation and Dev...,0.785,0.790,0.788,0.800,0.807,0.812,0.817,0.817,...,0.868,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895
211,,World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,...,0.691,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731

In [35]:
hdi.drop(index=range(195, 212), inplace=True)

In [36]:
hdi

,HDI Rank (2018),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
1,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,36,Andorra,..,..,..,..,..,..,..,..,...,0.830,0.828,0.827,0.849,0.846,0.853,0.850,0.854,0.852,0.857
4,149,Angola,..,..,..,..,..,..,..,..,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,..,Nauru,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
191,..,Korea (Democratic People's Rep. of),..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
192,..,San Marino,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
193,..,Somalia,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
194,..,Tuvalu,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [37]:
hdi.tail(30)

,HDI Rank (2018),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
165,154,Syrian Arab Republic,0.558,0.562,0.568,0.571,0.576,0.579,0.583,0.587,...,0.648,0.644,0.642,0.631,0.572,0.551,0.540,0.539,0.544,0.549
166,125,Tajikistan,0.603,0.598,0.577,0.560,0.527,0.532,0.517,0.522,...,0.619,0.630,0.634,0.639,0.643,0.642,0.642,0.647,0.651,0.656
167,159,Tanzania (United Republic of),0.373,0.374,0.372,0.372,0.371,0.372,0.374,0.375,...,0.479,0.487,0.492,0.501,0.503,0.509,0.519,0.518,0.522,0.528
168,77,Thailand,0.574,0.583,0.589,0.597,0.604,0.611,0.619,0.625,...,0.718,0.721,0.729,0.733,0.731,0.739,0.746,0.753,0.762,0.765
169,131,Timor-Leste,..,..,..,..,..,..,..,..,...,0.611,0.620,0.627,0.601,0.613,0.608,0.628,0.628,0.624,0.626
170,167,Togo,0.405,0.408,0.400,0.391,0.397,0.410,0.418,0.425,...,0.458,0.468,0.480,0.484,0.490,0.495,0.502,0.506,0.510,0.513
171,105,Tonga,0.645,0.651,0.653,0.657,0.664,0.667,0.667,0.667,...,0.686,0.692,0.696,0.700,0.699,0.699,0.714,0.715,0.717,0.717
172,63,Trinidad and Tobago,0.667,0.668,0.674,0.676,0.680,0.686,0.691,0.699,...,0.786,0.788,0.786,0.784,0.787,0.788,0.796,0.796,0.799,0.799
173,91,Tunisia,0.569,0.575,0.583,0.589,0.600,0.607,0.616,0.623,...,0.710,0.717,0.719,0.721,0.725,0.728,0.731,0.736,0.738,0.739
174,59,Turkey,0.579,0.583,0.589,0.597,0.599,0.607,0.615,0.624,...,0.721,0.743,0.759,0.765,0.781,0.792,0.800,0.800,0.805,0.807
175,108,Turkmenistan,..,..,..,..,..,..,..,..,...,..,0.673,0.680,0.686,0.691,0.696,0.701,0.706,0.708,0.710
176,159,Uganda,0.312,0.312,0.305,0.312,0.314,0.320,0.336,0.350,...,0.478,0.489,0.494,0.497,0.503,0.509,0.515,0.520,0.522,0.528
177,88,Ukraine,0.705,0.701,0.692,0.681,0.668,0.664,0.661,0.663,...,0.727,0.732,0.737,0.742,0.744,0.747,0.742,0.746,0.747,0.750
178,35,United Arab Emirates,0.724,0.735,0.738,0.745,0.755,0.764,0.765,0.766,...,0.819,0.821,0.826,0.832,0.839,0.847,0.860,0.863,0.864,0.866
179,15,United Kingdom,0.775,0.787,0.801,0.813,0.827,0.839,0.844,0.849,...,0.899,0.905,0.899,0.897,0.914,0.918,0.916,0.918,0.919,0.920
180,15,United States,0.860,0.862,..,0.872,0.875,0.878,0.879,..,...,0.908,0.911,0.914,0.916,0.914,0.915,0.917,0.919,0.919,0.920
181,57,Uruguay,0.692,0.697,0.700,0.703,0.709,0.711,0.717,0.727,...,0.779,0.774,0.783,0.788,0.797,0.800,0.802,0.806,0.807,0.808
182,108,Uzbekistan,..,..,..,..,..,..,..,..,...,0.658,0.665,0.672,0.681,0.688,0.693,0.696,0.701,0.707,0.710
183,141,Vanuatu,..,..,..,..,..,..,..,..,...,0.584,0.585,0.585,0.584,0.588,0.589,0.592,0.592,0.595,0.597
184,96,Venezuela (Bolivarian Republic of),0.638,0.648,0.654,0.656,0.657,0.660,0.662,0.666,...,0.752,0.753,0.764,0.767,0.772,0.770,0.763,0.752,0.735,0.726
185,118,Viet Nam,0.475,0.484,0.496,0.506,0.517,0.529,0.540,0.539,...,0.650,0.653,0.663,0.668,0.673,0.675,0.680,0.685,0.690,0.693
186,177,Yemen,0.392,0.396,0.395,0.398,0.398,0.393,0.408,0.418,...,0.503,0.499,0.511,0.501,0.506,0.504,0.493,0.477,0.463,0.463
187,143,Zambia,0.424,0.421,0.420,0.422,0.418,0.419,0.419,0.420,...,0.521,0.531,0.541,0.552,0.559,0.565,0.570,0.580,0.589,0.591
188,150,Zimbabwe,0.498,0.500,0.485,0.480,0.478,0.472,0.471,0.466,...,0.448,0.472,0.490,0.516,0.527,0.537,0.544,0.549,0.553,0.563
189,..,Monaco,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
190,..,Nauru,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
191,..,Korea (Democratic People's Rep. of),..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
192,..,San Marino,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
193,..,Somalia,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
194,..,Tuvalu,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [38]:
hdi.drop(index=range(189, 195), inplace=True)

In [39]:
hdi[hdi[['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',\
    '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]  == '..'] = np.nan

In [40]:
hdi

,HDI Rank (2018),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
1,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,36,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.830,0.828,0.827,0.849,0.846,0.853,0.850,0.854,0.852,0.857
4,149,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,96,Venezuela (Bolivarian Republic of),0.638,0.648,0.654,0.656,0.657,0.660,0.662,0.666,...,0.752,0.753,0.764,0.767,0.772,0.770,0.763,0.752,0.735,0.726
185,118,Viet Nam,0.475,0.484,0.496,0.506,0.517,0.529,0.540,0.539,...,0.650,0.653,0.663,0.668,0.673,0.675,0.680,0.685,0.690,0.693
186,177,Yemen,0.392,0.396,0.395,0.398,0.398,0.393,0.408,0.418,...,0.503,0.499,0.511,0.501,0.506,0.504,0.493,0.477,0.463,0.463
187,143,Zambia,0.424,0.421,0.420,0.422,0.418,0.419,0.419,0.420,...,0.521,0.531,0.541,0.552,0.559,0.565,0.570,0.580,0.589,0.591
188,150,Zimbabwe,0.498,0.500,0.485,0.480,0.478,0.472,0.471,0.466,...,0.448,0.472,0.490,0.516,0.527,0.537,0.544,0.549,0.553,0.563

In [41]:
hdi[['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',\
    '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]\
= hdi[['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',\
    '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']].astype('float64')

In [42]:
hdi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189 entries, 0 to 188
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   HDI Rank (2018)  189 non-null    object
 1   Country          189 non-null    object
 2   1990             144 non-null    float64
 3   1991             144 non-null    float64
 4   1992             143 non-null    float64
 5   1993             144 non-null    float64
 6   1994             144 non-null    float64
 7   1995             148 non-null    float64
 8   1996             148 non-null    float64
 9   1997             147 non-null    float64
 10  1998             148 non-null    float64
 11  1999             151 non-null    float64
 12  2000             174 non-null    float64
 13  2001             174 non-null    float64
 14  2002             175 non-null    float64
 15  2003             177 non-null    float64
 16  2004             179 non-null    float64
 17  2005             186 non-null    float64
 18  2006             186 non-null    float64
 19  2007             186 non-null    float64
 20  2008             186 non-null    float64
 21  2009             186 non-null    float64
 22  2010             188 non-null    float64
 23  2011             188 non-null    float64
 24  2012             188 non-null    float64
 25  2013             188 non-null    float64
 26  2014             188 non-null    float64
 27  2015             188 non-null    float64
 28  2016             188 non-null    float64
 29  2017             189 non-null    float64
 30  2018             189 non-null    float64
dtypes: float64(29), object(2)
memory usage: 47.2+ KB

In [60]:
regexp = re.compile('199[0-9]')
columns_to_drop = []
for c in hdi.columns.tolist():
    if re.match(regexp, c):
        columns_to_drop.append(c)
        
columns_to_drop

['1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999']

In [71]:
hdi.drop(columns=columns_to_drop, inplace=True)

In [63]:
hdi.drop(columns='HDI Rank (2018)', inplace=True)

In [98]:
codes = pd.read_json('../data/codes.json', orient='index')

In [100]:
codes = codes.reset_index().rename(columns={0: 'Country', 'index': 'Code'})

In [104]:
hdi = hdi.merge(codes, how='left', on='Country')

In [109]:
hdi[hdi.Code.isnull()]

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Code
39,Congo (Democratic Republic of the),0.333,0.333,0.340,0.349,0.357,0.364,0.372,0.382,0.393,...,0.416,0.419,0.423,0.429,0.441,0.445,0.453,0.456,0.459,NaN
56,Eswatini (Kingdom of),0.468,0.457,0.445,0.440,0.448,0.459,0.472,0.482,0.491,...,0.513,0.528,0.542,0.558,0.573,0.585,0.596,0.603,0.608,NaN
74,"Hong Kong, China (SAR)",0.827,0.835,0.842,0.851,0.862,0.871,0.883,0.887,0.896,...,0.901,0.904,0.911,0.916,0.924,0.927,0.931,0.937,0.939,NaN
90,Korea (Republic of),0.817,0.824,0.832,0.839,0.847,0.855,0.862,0.869,0.874,...,0.882,0.888,0.890,0.893,0.896,0.899,0.901,0.904,0.906,NaN
113,Moldova (Republic of),0.609,0.618,0.628,0.641,0.651,0.658,0.667,0.672,0.677,...,0.681,0.687,0.693,0.702,0.705,0.703,0.705,0.709,0.711,NaN
167,Tanzania (United Republic of),0.395,0.402,0.412,0.421,0.431,0.442,0.452,0.461,0.470,...,0.487,0.492,0.501,0.503,0.509,0.519,0.518,0.522,0.528,NaN
179,United Kingdom,0.867,0.871,0.874,0.878,0.886,0.890,0.889,0.892,0.896,...,0.905,0.899,0.897,0.914,0.918,0.916,0.918,0.919,0.920,NaN
180,United States,0.881,0.884,0.886,0.889,0.892,0.896,0.899,0.902,0.907,...,0.911,0.914,0.916,0.914,0.915,0.917,0.919,0.919,0.920,NaN

In [110]:
hdi.loc[39, 'Code'] = 'COD'
hdi.loc[56, 'Code'] = 'SWZ'
hdi.loc[74, 'Code'] = 'HKG'
hdi.loc[90, 'Code'] = 'KOR'
hdi.loc[113, 'Code'] = 'MDA'
hdi.loc[167, 'Code'] = 'TZA'
hdi.loc[179, 'Code'] = 'GBR'
hdi.loc[180, 'Code'] = 'USA'

In [112]:
hdi[hdi.Code.isnull()]

Empty DataFrame
Columns: [Country, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, Code]
Index: []

[0 rows x 21 columns]

In [66]:
# now we make year separated records

In [115]:
columns = hdi.columns.tolist()[1:-1]

In [117]:
for c in columns:
    temp = hdi[['Country', 'Code', c]].rename(columns={c: 'Value'})
    temp.insert(loc=3, value=int(c), column='Year')
    temp.to_json('../data/year-separated-hdi/{}.json'.format(c), orient='records')

In [118]:
result = []

for f in glob.glob('../data/year-separated-hdi/*.json'):
    with open(f, 'r') as infile:
        result.extend(json.load(infile))
        
with open('../data/hdi.json', 'w') as outfile:
    json.dump(result, outfile)

---

In [179]:
gov = pd.read_excel('./wgidataset.xlsx', sheet_name='GovernmentEffectiveness', skiprows=14)

In [180]:
interestedColumns = []
regexp = re.compile('Estimate')

In [181]:
columns = gov.columns.tolist()

In [182]:
interestedColumns.extend(['Country', 'Code'])

for c in columns:
    if re.match(regexp, c):
        interestedColumns.append(c)

In [183]:
gov.rename(columns={'Country/Territory': 'Country'}, inplace=True)

In [184]:
gov = gov[interestedColumns]

In [185]:
columns = gov.columns.tolist()[2:]

In [186]:
counter = 0
baseYear = 1996
for c in columns:
    gov.rename(columns={c: (baseYear + counter)}, inplace=True)
    if (counter + baseYear) < 2002:
        counter += 2
    else:
        counter += 1

In [192]:
gov.drop(columns=[1996, 1998], inplace=True)

In [194]:
columns = gov.columns.tolist()[2:]

In [196]:
for c in columns:
    temp = gov[['Country', 'Code', c]].rename(columns={c: 'Value'})
    temp.insert(loc=3, value=c, column='Year')
    temp.to_json('../data/year-separated-gov/{}.json'.format(c), orient='records')

In [198]:
result = []

for f in glob.glob('../data/year-separated-gov/*.json'):
    with open(f, 'r') as infile:
        result.extend(json.load(infile))
        
with open('../data/gov.json', 'w') as outfile:
    json.dump(result, outfile)

---

In [202]:
cor = pd.read_excel('./wgidataset.xlsx', sheet_name='ControlofCorruption', skiprows=14)

In [203]:
cor

,Country/Territory,Code,Estimate,StdErr,NumSrc,Rank,Lower,Upper,Estimate.1,StdErr.1,...,NumSrc.18,Rank.18,Lower.18,Upper.18,Estimate.19,StdErr.19,NumSrc.19,Rank.19,Lower.19,Upper.19
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,87.980766,79.807693,92.307693,1.252027,0.282670,2.0,87.019234,79.326920,92.307693
1,Andorra,ADO,1.318143,0.480889,1.0,87.096771,72.043015,96.774193,1.377704,0.461773,...,1.0,86.538460,70.673080,95.192307,1.238614,0.402382,1.0,86.538460,71.153847,94.711540
2,Afghanistan,AFG,-1.291705,0.340507,2.0,4.301075,0.000000,27.419355,-1.180848,0.330179,...,10.0,3.846154,0.000000,9.615385,-1.496648,0.157296,10.0,4.326923,0.000000,9.615385
3,Angola,AGO,-1.167702,0.262077,4.0,9.677420,0.537634,27.419355,-1.405836,0.211729,...,10.0,6.250000,0.961538,11.057693,-1.144541,0.147933,10.0,11.538462,7.211538,16.826923
4,Anguilla,AIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,86.538460,70.673080,95.192307,1.238614,0.402382,1.0,86.538460,71.153847,94.711540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Serbia,SRB,-1.140072,0.262077,4.0,11.827957,0.537634,29.032259,-1.200814,0.194662,...,12.0,43.269230,31.250000,50.000000,-0.370215,0.136067,11.0,41.826923,29.326923,51.442307
210,South Africa,ZAF,0.732927,0.210325,6.0,76.344086,66.129036,81.182793,0.674444,0.180502,...,16.0,56.730770,49.038460,60.576923,-0.021569,0.123144,16.0,57.211540,46.634617,61.057693
211,"Congo, Dem. Rep.",ZAR,-1.647852,0.315914,3.0,0.000000,0.000000,12.365591,-1.722926,0.270903,...,11.0,5.769231,0.961538,11.057693,-1.503398,0.143330,12.0,3.846154,0.000000,9.134615
212,Zambia,ZMB,-0.840641,0.262077,4.0,24.731182,5.913979,41.397850,-0.773145,0.211729,...,14.0,34.615383,22.596153,44.230770,-0.656136,0.130573,14.0,27.884615,18.269230,39.423077
213,Zimbabwe,ZWE,-0.278847,0.244907,5.0,47.849461,30.645161,60.752689,-0.480248,0.188451,...,15.0,9.615385,4.807693,12.500000,-1.235616,0.127343,15.0,10.096154,5.288462,14.423077

In [205]:
interestedColumns = []
regexp = re.compile('Estimate')

In [206]:
columns = cor.columns.tolist()

In [207]:
interestedColumns.extend(['Country', 'Code'])

for c in columns:
    if re.match(regexp, c):
        interestedColumns.append(c)

In [210]:
cor.rename(columns={'Country/Territory': 'Country'}, inplace=True)

In [211]:
cor = cor[interestedColumns]

In [213]:
columns = cor.columns.tolist()[2:]

In [215]:
counter = 0
baseYear = 1996

for c in columns:
    cor.rename(columns={c: (counter + baseYear)}, inplace=True)
    if (counter + baseYear) < 2002:
        counter += 2
    else:
        counter += 1

D:\GitHub\misc\Anaconda\envs\pyjsviz\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [223]:
columns = cor.columns.tolist()[2:]

,Country,Code,2000,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,NaN,NaN,NaN,1.301713,1.292862,1.285327,1.252985,1.279326,1.500568,1.251719,1.242131,1.254732,1.227074,0.891651,0.883569,0.893229,0.917742,1.058392
1,Andorra,ADO,1.446284,1.423874,1.410648,1.524566,1.292862,1.543035,1.508254,1.537209,1.540096,1.518033,1.504689,1.531356,1.539397,1.718336,1.787205,1.860587,1.937282,1.944976
2,Afghanistan,AFG,-2.231651,-1.567973,-1.082488,-0.894051,-1.210829,-1.430343,-1.403352,-1.496089,-1.483899,-1.454683,-1.448488,-1.360140,-1.384930,-1.331396,-1.322968,-1.226363,-1.334610,-1.457285
3,Angola,AGO,-1.462310,-1.238857,-1.156531,-1.314578,-1.137153,-1.369493,-1.206412,-1.062213,-0.960353,-1.117896,-1.153556,-0.989632,-1.223171,-1.123669,-1.000103,-1.035903,-1.025313,-1.052086
4,Anguilla,AIA,NaN,NaN,NaN,1.078860,1.558452,1.543035,1.508254,1.537209,1.540096,1.518033,1.504689,1.531356,1.539397,0.952229,1.007332,1.328888,0.835900,0.830127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Serbia,SRB,-0.845164,-0.506652,-0.621033,-0.213625,-0.331084,-0.208798,-0.228354,-0.191556,-0.039232,-0.045986,-0.089826,-0.101885,-0.086723,0.089617,0.111120,0.079659,0.184269,0.111620
210,South Africa,ZAF,0.729057,0.673051,0.692696,0.641220,0.642373,0.444541,0.469179,0.509499,0.480264,0.392141,0.405351,0.345631,0.438293,0.341089,0.291809,0.306440,0.288611,0.340379
211,"Congo, Dem. Rep.",ZAR,-1.884151,-1.692212,-1.528456,-1.448674,-1.571900,-1.619065,-1.745683,-1.665454,-1.693531,-1.735644,-1.679297,-1.654935,-1.477710,-1.561380,-1.629201,-1.510932,-1.635230,-1.554787
212,Zambia,ZMB,-0.878318,-0.778696,-0.837581,-0.866949,-0.935229,-0.852440,-0.724111,-0.734437,-0.807677,-0.850887,-0.659440,-0.476180,-0.492518,-0.499575,-0.555665,-0.660059,-0.627568,-0.559209
213,Zimbabwe,ZWE,-0.799372,-0.908140,-1.006667,-1.000913,-1.331712,-1.225054,-1.258882,-1.528042,-1.545878,-1.511986,-1.371597,-1.336259,-1.277510,-1.210598,-1.157869,-1.158350,-1.188722,-1.198860

In [224]:
for c in columns:
    temp = cor[['Country', 'Code', c]].rename(columns={c: 'Value'})
    temp.insert(loc=3, column='Year', value=c)
    temp.to_json('../data/year-separated-cor/{}.json'.format(c), orient='records')

In [228]:
result = []

for f in glob.glob('../data/year-separated-cor/*.json'):
    with open(f, 'r') as infile:
        result.extend(json.load(infile))
        
with open('../data/cor.json', 'w') as outfile:
    json.dump(result, outfile)

---

In [256]:
ps = pd.read_excel('./wgidataset.xlsx', sheet_name='Political StabilityNoViolence', skiprows=14)

In [257]:
ps.rename(columns={'Country/Territory': 'Country'}, inplace=True)

In [258]:
interestedColumns = []
regexp = re.compile('Estimate')

In [259]:
columns = ps.columns.tolist()
interestedColumns.extend(['Country', 'Code'])
for c in columns:
    if re.match(regexp, c):
        interestedColumns.append(c)
interestedColumns

['Country',
 'Code',
 'Estimate',
 'Estimate.1',
 'Estimate.2',
 'Estimate.3',
 'Estimate.4',
 'Estimate.5',
 'Estimate.6',
 'Estimate.7',
 'Estimate.8',
 'Estimate.9',
 'Estimate.10',
 'Estimate.11',
 'Estimate.12',
 'Estimate.13',
 'Estimate.14',
 'Estimate.15',
 'Estimate.16',
 'Estimate.17',
 'Estimate.18',
 'Estimate.19']

In [260]:
ps = ps[interestedColumns]

In [261]:
columns = ps.columns.tolist()[2:]

In [262]:
counter = 0
baseYear = 1996

for c in columns:
    ps.rename(columns={c: (baseYear + counter)}, inplace=True)
    if (counter + baseYear) < 2002:
        counter += 2
    else:
        counter += 1

In [ ]:
ps

In [265]:
columns = ps.columns.tolist()[2:]

for c in columns:
    temp = ps[['Country', 'Code', c]].rename(columns={c: 'Value'})
    temp.insert(loc=3, value=c, column='Year')
    temp.to_json('../data/year-separated-ps/{}.json'.format(c), orient='records')
    
result = []

for f in glob.glob('../data/year-separated-ps/*.json'):
    with open(f, 'r') as infile:
        result.extend(json.load(infile))
        
with open('../data/ps.json', 'w') as outfile:
    json.dump(result, outfile)

---

In [270]:
resp = requests.get('https://en.wikipedia.org/wiki/Freedom_in_the_World')
soup = BeautifulSoup(resp.content, 'lxml')

In [293]:
table = soup.select_one('#mw-content-text > div.mw-parser-output > table:nth-child(18) > tbody')

In [317]:
result = []
regexp = re.compile('\*')

# 3 - 198
for n in range(3, 198):
    pr = int(table.select_one('tr:nth-child({}) > td:nth-child(19)'.format(n)).text)
    cl = int(table.select_one('tr:nth-child({}) > td:nth-child(20)'.format(n)).text)
    country = re.sub(regexp, '', table.select_one('tr:nth-child({}) > td:nth-child(1) > a'.format(n)).text)
    result.append({'Country': country, 'Value': (pr + cl) / 2})

In [319]:
fr = pd.DataFrame(result)

In [322]:
fr = fr.merge(codes, on='Country', how='left')

In [324]:
fr[fr.Code.isnull()]

                           Country  Value Code
20                         Bolivia    3.0  NaN
24                          Brunei    5.5  NaN
31                      Cape Verde    1.0  NaN
38   Congo, Democratic Republic of    6.0  NaN
39              Congo, Republic of    6.0  NaN
44                  Czech Republic    1.0  NaN
49                      East Timor    2.5  NaN
78                            Iran    6.0  NaN
83                     Ivory Coast    4.0  NaN
93                            Laos    6.5  NaN
112                     Micronesia    1.0  NaN
113                        Moldova    3.5  NaN
128                    North Korea    7.0  NaN
143                         Russia    6.5  NaN
150          São Tomé and Príncipe    2.0  NaN
162                    South Korea    2.0  NaN
170                          Syria    7.0  NaN
173                       Tanzania    5.0  NaN
185                 United Kingdom    1.0  NaN
186                  United States    1.5  NaN
190                      Venezuela    6.5  NaN
191                        Vietnam    6.0  NaN

In [325]:
fr.loc[20, 'Code'] = 'BOL'
fr.loc[24, 'Code'] = 'BRN'
fr.loc[31, 'Code'] = 'CPV'
fr.loc[38, 'Code'] = 'COD'
fr.loc[39, 'Code'] = 'COG'
fr.loc[44, 'Code'] = 'CZE'
fr.loc[49, 'Code'] = 'TLS'
fr.loc[78, 'Code'] = 'IRN'
fr.loc[83, 'Code'] = 'CIV'
fr.loc[93, 'Code'] = 'LAO'
fr.loc[112, 'Code'] = 'FSM'
fr.loc[113, 'Code'] = 'MDA'
fr.loc[128, 'Code'] = 'PRK'
fr.loc[143, 'Code'] = 'RUS'
fr.loc[150, 'Code'] = 'STP'
fr.loc[162, 'Code'] = 'KOR'
fr.loc[170, 'Code'] = 'SYR'
fr.loc[173, 'Code'] = 'TZA'
fr.loc[185, 'Code'] = 'GBR'
fr.loc[186, 'Code'] = 'USA'
fr.loc[190, 'Code'] = 'VEN'
fr.loc[191, 'Code'] = 'VNM'

In [327]:
fr[fr.Code.isnull()]

Empty DataFrame
Columns: [Country, Value, Code]
Index: []

In [329]:
fr.to_json('../data/fr.json', orient='records')

---

In [330]:
pop = pd.read_csv('./population.csv')

In [333]:
pop.rename(columns={'Country Name': 'Country', 'Country Code': 'Code'}, inplace=True)

In [336]:
cc = codes.Code.tolist()

In [395]:
result = []

for c in cc:
    country = pop[(pop.Code == '{}'.format(c)) & (pop.Year == 2018)].Country
    
    if not country.values.size > 0:
        continue
    
    country = country.values[0]
    code = c
    value = int(pop[(pop.Code == '{}'.format(c)) & (pop.Year == 2018)].Value)
    size = 'big' if value > 35000000 else ('midsize' if 35000000 > value > 5000000 else 'small')
    result.append({'Country': country, 'Code': code, 'Value': value, 'Size': size})

In [396]:
with open('../data/pop.json', 'w') as outfile:
    json.dump(result, outfile)